<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hitachi_tstv.mist.it.pod_pxd_cl">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ.GSERVICES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/hitachi_v01"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.hitachi_tstv.mist.it.pod_pxd_cl.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hitachi_tstv.mist.it.pod_pxd_cl.ServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hitachi_tstv.mist.it.pod_pxd_cl.JobListView"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hitachi_tstv.mist.it.pod_pxd_cl.DetailJob"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hitachi_tstv.mist.it.pod_pxd_cl.SignatureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hitachi_tstv.mist.it.pod_pxd_cl.ReturnContainerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hitachi_tstv.mist.it.pod_pxd_cl.JobManagementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hitachi_tstv.mist.it.pod_pxd_cl.TripDateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hitachi_tstv.mist.it.pod_pxd_cl.TripDetailActivity"
            android:screenOrientation="portrait" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="cb5d4c3d49eea37d1668dc88f85df56d9d55bcce" />
    </application>

</manifest>